//////////////////////
// Colours
//////////////////////
$color-primary: #394f63;
$color-secondary: #3fa9e2;
$color-tertiary: #bdc5c8;

$gray: lighten(#000, 85%);
$gray-dark: lighten(#000, 70%);
$gray-darker: lighten(#000, 40%);

//////////////////////
// Default Stuff
//////////////////////
$border-radius: 5px;

//////////////////////
// Fonts
//////////////////////
$font-xsmall: .7em;
$font-small: .8em;
$font-medium: 1em;
$font-large: 1.2em;
$font-xlarge: 1.5em;

//////////////////////
// Margins & Paddings
//////////////////////
$base-padding: 1em;
$base-padding-horizontal: 1em;